
.auth-bg-main {
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    margin-top: 40px;
}

.auth-bg-primary {
    background-color: rgba(4, 83, 109, 0.7);
    color: #ffff;
}


.text-ibold {
    color: #086975;
    font-weight: bold;
}

.auth-t-head {
    font-weight: bolder;
    color: #086975;
    font-size: xx-large;
    letter-spacing: 1px;
}

.auth-title {
    font-weight: bolder;
    color: #ffff;
    font-size: 38px;
}
.auth-sub-title {
    font-weight: 900;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.auth-right-card {
    margin-left: 1px;
    border-left: 1px solid rgb(227, 221, 221);
}

.auth-img {
    width: 350px;
    margin-bottom: 50px;
}

.btn-primary {
    background-color: #086975;
    color: #ffff;
    border: none;
    padding: 15px 30px;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: #005265;
    border: none;
    padding: 15px 30px;
    border-radius: 4px;
}


#page-topbar {
    background-color: #005265 !important;
}

.auth-setup-title {
    font-weight: bold;
    color: #ffff;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;   
    text-overflow: ellipsis;
    white-space: nowrap;

}



.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.marquee span {
    display: inline-block;
    animation: marquee 60s linear infinite;
    margin-right: 20px !important;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


.auth-scroll-text {
    text-align: left;
    padding-left: 20px;
    overflow-y: scroll;
    height: 230px;
    max-height: 230px;
}


